DROP PROCEDURE IF EXISTS [dbo].[EMS_GetDeyingProductionPlanList]
GO

CREATE  PROCEDURE [dbo].[EMS_GetDeyingProductionPlanList]
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @StartDate NVARCHAR(MAX) = '2024-04-01',
    @EndDate NVARCHAR(MAX) = '2025-02-28',
    @DynamicWhere NVARCHAR(MAX) = N'',
    @SQLQuery NVARCHAR(MAX)= N''
AS
BEGIN
SET NOCOUNT ON;  -- Prevent "XX rows affected" messages
DECLARE @StartAutoDate NVARCHAR(MAX) = '';
DECLARE @EndAutoDate NVARCHAR(MAX) = '';
DECLARE @StartProgramDate NVARCHAR(MAX) = '';
DECLARE @EndProgramDate NVARCHAR(MAX) = '';
DECLARE @ProgramDateWhereClause NVARCHAR(MAX) = '';
IF @StartDate IS NOT NULL
BEGIN
    SET @StartProgramDate = CONVERT(NVARCHAR, DATEADD(Day, 0, CONVERT(DATE,@StartDate)), 111); 
END
IF @EndDate IS NOT NULL
BEGIN
	SET @EndProgramDate = CONVERT(NVARCHAR, DATEADD(Day, 0, CONVERT(DATE,@EndDate)), 111);  
END
DECLARE @Today DATE = GETDATE();
DECLARE @FYStartYear INT;

-- Determine the financial year start year
SET @FYStartYear = YEAR(@Today) - CASE WHEN MONTH(@Today) < 4 THEN 1 ELSE 0 END;

-- Set values
SET @StartAutoDate = CONVERT(NVARCHAR, DATEFROMPARTS(@FYStartYear, 4, 1), 111); -- 'YYYY-MM-DD'
SET @EndAutoDate = CONVERT(NVARCHAR, @Today, 111); -- today's date in 'YYYY-MM-DD'
SET @EndAutoDate = CONVERT(NVARCHAR, DATEADD(Day, -1, CONVERT(DATE,@EndAutoDate)), 111);  
IF (@StartDate IS NOT NULL AND @EndDate IS NOT NULL)
BEGIN
	SET @ProgramDateWhereClause = ' and  
							Convert(varchar,ProgramDate,111) >=''' + @StartProgramDate + '''
							and convert(varchar,ProgramDate,111) <=''' + @EndProgramDate + ''''
END    

    SET @SQLQuery = N'
    SET NOCOUNT ON;
	select isnull((select top 1 JOBCARDTracking from View_DyingJobCardPlanningBatchNEW where pm.DyingPlanningSubNo=DyingPlanningSubNo ),'''') as JOBCARDTracking,
                            * from View_PlanningMachineAssign as pm where 1=1 '+ @DynamicWhere +'  and  
							Convert(varchar,AutoDate,111) >=''' + @StartAutoDate + '''  and 
							convert(varchar,AutoDate,111) <=''' + @EndAutoDate + ''' 
							'+ @ProgramDateWhereClause +'
							and  isnull(ProcessChartNo,0)=0    Order By ProgramDate,MachineOrder,Convert(float,dbo.GetNumeric(MachineNo)),
							ProgramPriority,DyingPlanningDate,ItemName,AutoNo';

    -- Execute the dynamic SQL query with parameters
	PRINT @SQLQuery;
    EXEC sp_executesql @SQLQuery, 
                       N'@StartDate DATE, @EndDate DATE, @PageNumber INT, @PageSize INT', 
                       @StartDate, @EndDate, @PageNumber, @PageSize;
END

--CREATE PROCEDURE [dbo].[EMS_GetDeyingProductionPlanList]
--    @PageNumber INT = 1,
--    @PageSize INT = 10,
--    @StartDate DATE = '2024-04-01',
--    @EndDate DATE = '2025-02-28',
--    @DynamicWhere NVARCHAR(MAX) = N'',
--    @SQLQuery NVARCHAR(MAX)= N''
--AS
--BEGIN
--    SET NOCOUNT ON;  -- Prevent "XX rows affected" messages

--    -- Set default filter condition
--    --SET @DynamicWhere = N' AND ISNULL(ProcessChartNo, 0) = 0';

--    -- Construct SQL query
--    SET @SQLQuery = N'
--    SET NOCOUNT ON;

--    -- Use a temporary table to store results
--    CREATE TABLE #TempResults (
--        JOBCARDTracking NVARCHAR(255),
--        PartyName NVARCHAR(255),
--        ItemName NVARCHAR(255),
--        SHADENO NVARCHAR(50),
--        SHADEName NVARCHAR(255),
--        MachineNo NVARCHAR(50),
--        MachineName NVARCHAR(255),
--        AutoID INT,
--        AutoNo NVARCHAR(50),
--        AutoDate DATETIME,
--        DyingPlanningSubNo NVARCHAR(50),
--        MachineID INT,
--        CreatedBy NVARCHAR(50),
--        CreatedDate DATETIME,
--        UpdatedBy NVARCHAR(50),
--        UpdatedDate DATETIME,
--        AssignQty DECIMAL(18, 3),
--        PlanningQty DECIMAL(18, 3),
--        BatchNo NVARCHAR(50),
--        ProgramPriority INT,
--        BatchWT DECIMAL(18, 3),
--        ProgramDate DATETIME,
--        OrderQtyForSO DECIMAL(18, 3),
--        ACode NVARCHAR(50),
--        ItemID INT,
--        COPartyName NVARCHAR(255),
--        DLNo NVARCHAR(50),
--        Remarks NVARCHAR(MAX),
--        MachineAssignRemarks NVARCHAR(MAX),
--        DyingPlanningDate DATETIME,
--        ProcessChartNo NVARCHAR(50),
--        BatchCreationID INT,
--        NEWPLANORDERQTY DECIMAL(18, 3),
--        IsMostUrgent BIT,
--        ISMANUAL BIT,
--        ISCANCEL BIT,
--        MachineOrder INT,
--        ItemCategory NVARCHAR(255),
--        LastUpdateDate DATETIME,
--        ConsigneeID INT
--    );

--    -- Insert filtered data into temp table
--    INSERT INTO #TempResults
--    SELECT 
--        (SELECT TOP 1 JOBCARDTracking 
--         FROM View_DyingJobCardPlanningBatchNEW 
--         WHERE View_DyingJobCardPlanningBatchNEW.DyingPlanningSubNo = pm.DyingPlanningSubNo) AS JOBCARDTracking,
--        pm.*
--    FROM View_PlanningMachineAssign AS pm
--    WHERE (AutoDate BETWEEN @StartDate AND @EndDate) 
--    AND (ProgramDate BETWEEN @StartDate AND @EndDate) ' + @DynamicWhere + ';

--    -- Get paginated records
--    SELECT * FROM #TempResults
--    ORDER BY ProgramDate, MachineOrder, 
--             CONVERT(FLOAT, dbo.GetNumeric(MachineNo)), 
--             ProgramPriority, DyingPlanningDate, ItemName, AutoNo
--    OFFSET (@PageNumber - 1) * @PageSize ROWS
--    FETCH NEXT @PageSize ROWS ONLY;

--    -- Get total count of records separately
--    SELECT COUNT(*) AS TotalRecords FROM #TempResults;

--    -- Drop the temporary table after use
--    DROP TABLE #TempResults;
--    ';

--    -- Execute the dynamic SQL query with parameters
--    EXEC sp_executesql @SQLQuery, 
--                       N'@StartDate DATE, @EndDate DATE, @PageNumber INT, @PageSize INT', 
--                       @StartDate, @EndDate, @PageNumber, @PageSize;
--END
GO
