/****** Object:  StoredProcedure [dbo].[EMS_GetPlanningWisePendingOrder]     ******/
DROP PROCEDURE IF EXISTS [dbo].[EMS_GetPlanningWisePendingOrder]
GO
CREATE PROCEDURE [dbo].[EMS_GetPlanningWisePendingOrder]
 @PageNumber INT = 1,
 @PageSize INT = 10,
 @StartDate NVARCHAR(500) = null,
 @EndDate NVARCHAR(500) = null,
 @DynamicWhere NVARCHAR(MAX) = N'',
 @SQLQuery NVARCHAR(MAX)= N''
AS
BEGIN

SET NOCOUNT ON;
IF @StartDate IS NOT NULL
    SET @StartDate = CONVERT(NVARCHAR(10), DATEADD(YEAR, -2, GETDATE()), 120);  -- 2 years ago

IF @EndDate IS NOT NULL
    SET @EndDate = CONVERT(NVARCHAR(10), DATEADD(YEAR, 1, GETDATE()), 120);  
SET @SQLQuery = N'
SELECT * FROM (
    SELECT 
        b.DyingPlanningSubNo,
        b.DyingPlanningSubID,
        b.DyingPlanningDate AS DOdate,
        b.SOID,
        b.SONO,
        b.SoDate,
        b.Acode,
        b.qty AS SOQTY,
        b.PartyName,
        b.DName AS DeliveryNAme,
        b.ItemID,
        b.ItemName,
        b.Grade,
        b.shadeno,
        b.ShadeName,
        ISNULL(B.ISSTOCK, 0) AS ISSTOCK,
        ROUND(ISNULL(b.Qty, 0) - ISNULL(a.DCHWT, 0), 3) AS PendingWTCHECK,
        ROUND(ISNULL(a.DOBALWT, 0), 3) AS PendingWT,
        ROUND(ISNULL(a.DCHWT, 0), 3) AS DeliverQty,
        ISNULL(b.Qty, 0) AS Weight,
        ROUND(ISNULL(a.DCHWT, 0), 3) AS DeliveryWeightInChallan,
        ROUND(ISNULL(a.DCHWT, 0), 3) AS TotalDeliveryQtyinChallan,
        ISNULL(b.IsCloseManual, 0) AS IsCloseManual,
        ISNULL(b.IsClose, 0) AS IsClose,
        ISNULL(b.IsPlanDispatched, 0) AS IsPlanDispatched,
        ISNULL(b.ISMOSTURGENT, 0) AS ISMOSTURGENT,
        ISNULL(b.ForStock, 0) AS ForStock,
        ISNULL(b.iscancel, 0) AS iscancel,
        ISNULL(b.DeliveryAcode, 0) AS DeliveryAcode
    FROM (
        SELECT 
            DyingPlanningSubOrderNo,
            SUM(Weight) AS DOWT,
            SUM(DeliveryWeightInChallan) AS DCHWT,
            SUM(Weight) - SUM(DeliveryWeightInChallan) AS DOBALWT
        FROM View_DeliveryOrderLinkWithDyeingPlanning
        WHERE 1 = 1
            AND CONVERT(DATE, DOdate, 111) >= ''' + @StartDate + '''
            AND CONVERT(DATE, DOdate, 111) <= ''' + @EndDate + '''
        GROUP BY DyingPlanningSubOrderNo
    ) AS a
    RIGHT JOIN (
        SELECT * FROM view_dyingplanningdetail
        WHERE 1 = 1
            AND CONVERT(DATE, DyingPlanningDate, 111) >= ''' + @StartDate + '''
            AND CONVERT(DATE, DyingPlanningDate, 111) <= ''' + @EndDate + '''
    ) AS b
    ON ISNULL(a.DyingPlanningSubOrderNo, '''') = b.DyingPlanningSubNo
) AS final
WHERE 1 = 1
    AND ISNULL(IsClose, 0) = 0
    AND ISNULL(IsPlanDispatched, 0) = 0
    AND ROUND(ISNULL(PendingWTCHECK, 0), 3) >= 0
ORDER BY DyingPlanningSubNo DESC;
';

-- Optional: Execute or return for debugging
--PRINT @SQLQuery;
EXEC sp_executesql @SQLQuery;



END

--CREATE PROCEDURE [dbo].[EMS_GetPlanningWisePendingOrder]
-- @PageNumber INT = 1,
-- @PageSize INT = 10,
-- @StartDate DATE = '2022-04-01',
-- @EndDate DATE = '2025-02-27',
-- @DynamicWhere NVARCHAR(MAX) = N'',
-- @SQLQuery NVARCHAR(MAX)= N''
--AS
--BEGIN


--SET @SQLQuery = N'
--SET NOCOUNT ON;  -- Prevent "XX rows affected" messages

---- Use a temporary table to store results
--CREATE TABLE #TempResults (
--    DyingPlanningSubNo NVARCHAR(50), 
--    DyingPlanningSubID INT,
--    DOdate DATE,
--    SOID INT,
--    SONO NVARCHAR(50),
--    SoDate DATE,
--    Acode NVARCHAR(50),
--    SOQTY DECIMAL(18, 3),
--    PartyName NVARCHAR(255),
--    DeliveryName NVARCHAR(255),
--    ItemID INT,
--    ItemName NVARCHAR(255),
--    Grade NVARCHAR(50),
--    shadeno NVARCHAR(50),
--    ShadeName NVARCHAR(255),
--    ISSTOCK BIT,
--    PendingWTCHECK DECIMAL(18, 3),
--    PendingWT DECIMAL(18, 3),
--    DeliverQty DECIMAL(18, 3),
--    Weight DECIMAL(18, 3),
--    DeliveryWeightInChallan DECIMAL(18, 3),
--    TotalDeliveryQtyinChallan DECIMAL(18, 3),
--    IsCloseManual BIT,
--    IsClose BIT,
--    IsPlanDispatched BIT,
--    ISMOSTURGENT BIT,
--    ForStock BIT,
--    iscancel BIT,
--    DeliveryAcode NVARCHAR(50)
--);

--INSERT INTO #TempResults
--SELECT 
--    DyingPlanningSubNo, DyingPlanningSubID, DyingPlanningDate AS DOdate,
--    b.SOID, b.SONO, b.SoDate, b.Acode, b.qty AS SOQTY,
--    b.PartyName, DName AS DeliveryName, 
--    b.ItemID, b.ItemName, b.Grade, b.shadeno, b.ShadeName, 
--    ISNULL(B.ISSTOCK, 0) AS ISSTOCK,
--    ROUND(ISNULL(b.Qty, 0) - ISNULL(a.DCHWT, 0), 3) AS PendingWTCHECK,
--    ROUND(ISNULL(DOBALWT, 0), 3) AS PendingWT,
--    ROUND(ISNULL(a.DCHWT, 0), 3) AS DeliverQty,
--    ISNULL(b.Qty, 0) AS Weight, 
--    ROUND(ISNULL(a.DCHWT, 0), 3) AS DeliveryWeightInChallan,
--    ROUND(ISNULL(a.DCHWT, 0), 3) AS TotalDeliveryQtyinChallan,
--    ISNULL(IsCloseManual, 0) AS IsCloseManual, 
--    ISNULL(IsClose, 0) AS IsClose, 
--    ISNULL(IsPlanDispatched, 0) AS IsPlanDispatched,
--    ISNULL(ISMOSTURGENT, 0) AS ISMOSTURGENT, 
--    ISNULL(ForStock, 0) AS ForStock,
--    ISNULL(iscancel, 0) AS iscancel, 
--    ISNULL(DeliveryAcode, 0) AS DeliveryAcode
--FROM 
--(
--    SELECT DyingPlanningSubOrderNo, 
--           SUM(Weight) AS DOWT,
--           SUM(DeliveryWeightInChallan) AS DCHWT, 
--           SUM(Weight) - SUM(DeliveryWeightInChallan) AS DOBALWT 
--    FROM View_DeliveryOrderLinkWithDyeingPlanning 
--    WHERE DOdate BETWEEN @StartDate AND @EndDate
--    GROUP BY DyingPlanningSubOrderNo
--) AS a
--INNER JOIN
--(
--    SELECT * FROM view_dyingplanningdetail 
--    WHERE DyingPlanningDate BETWEEN @StartDate AND @EndDate
--) AS b
--ON ISNULL(a.dyingPlanningSubOrderNo, '''') = b.DyingPlanningSubNo;

---- Get paginated records
--SELECT * FROM #TempResults
--WHERE 1=1 ' + @DynamicWhere + '
--ORDER BY DyingPlanningSubNo DESC
--OFFSET (@PageNumber - 1) * @PageSize ROWS
--FETCH NEXT @PageSize ROWS ONLY;

---- Get total count of records (without pagination)
--SELECT COUNT(*) AS TotalRecords FROM #TempResults
--WHERE 1=1 ' + @DynamicWhere + ';

---- Drop the temporary table after use
--DROP TABLE #TempResults;
--';

--EXEC sp_executesql @SQLQuery, 
--                   N'@StartDate DATE, @EndDate DATE, @PageNumber INT, @PageSize INT', 
--                   @StartDate, @EndDate, @PageNumber, @PageSize;

--END

GO


