/****** Object:  StoredProcedure [dbo].[Get_EntityName]    Script Date: 31-07-2024 04:45:00 ******/
DROP PROCEDURE IF EXISTS [dbo].[Get_EntityName]
GO
/****** Object:  StoredProcedure [dbo].[Get_Logs]    Script Date: 01-07-2024 08:54:49 ******/
DROP PROCEDURE IF EXISTS [dbo].[Get_Logs]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 01-07-2024 08:54:49 ******/
DROP TABLE IF EXISTS [dbo].[Logs]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 01-07-2024 08:54:49 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
	[ActionId] [int] NULL,
	[LogTypeId] [int] NULL,
	[LogSourceId] [int] NULL,
	[EntityId] [nvarchar](250) NULL,
	[Entity] [nvarchar](250) NULL,
	[UserId] [int] NULL,
	[Username] [nvarchar](250) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Get_Logs]    Script Date: 01-07-2024 08:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from [Logs]

--EXEC Get_Logs NULL,NULL,0,0,0,0,NULL,0,null,null,null,0,15,'TimeStamp','desc'
CREATE PROCEDURE [dbo].[Get_Logs]
	@FromDate NVARCHAR(100)= null,
	@ToDate NVARCHAR(100)= null,
	@EntityId INT = null,	
	@UserId INT= null,
	@LogTypeId INT= null,
	@LogSourceId INT= null,
	@EntityName NVARCHAR(100)= null,		
	@ActionId INT= null,
	@Message NVARCHAR(100)= null,
	@Properties NVARCHAR(100)= null,
	@Start INT=0,
	@Length INT=100,
	@SortBy nvarchar(max) = 'TimeStamp',
	@OrderBy nvarchar(max) = 'desc'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @SQL NVARCHAR(max) = '', @Column NVARCHAR(MAX)='', @Table NVARCHAR(MAX)='', @WhereClause NVARCHAR(MAX)=''

	--SET @ToDate =  DATEADD(SECOND,59,DATEADD(MINUTE,59,DATEADD(HOUR,23,@ToDate)))

	--SET @SortBy='CreatedOn'
	--SET @OrderBy='desc'
	
	SET @Column=' lg.Id, lg.Message, lg.Level, lg.TimeStamp, lg.Exception, lg.Properties, lg.ActionId, lg.LogTypeId, lg.LogSourceId, lg.EntityId, lg.Entity, lg.UserId, lg.Username'
	
	SET @Table=' [logs] lg WITH (NOLOCK) WHERE 1=1'
	
	IF ISNULL(@FromDate,'')<>''
		SET @WhereClause+=' AND lg.TimeStamp>=''' + CONVERT(VARCHAR,@FromDate) + ''''

	IF ISNULL(@ToDate,'')<>''
		SET @WhereClause+=' AND lg.TimeStamp<=''' + CONVERT(VARCHAR,@ToDate) + ''''

	IF ISNULL(@EntityId,'0')<>'0'
		SET @WhereClause+=' AND lg.EntityId =' + CONVERT(VARCHAR,@EntityId)
		
	IF ISNULL(@ActionId,'0')<>'0'
		SET @WhereClause+=' AND lg.ActionId =' + CONVERT(VARCHAR,@ActionId)

	IF ISNULL(@UserId,'0')<>'0'
		SET @WhereClause+=' AND lg.UserId =' + CONVERT(VARCHAR,@UserId)

	IF ISNULL(@LogTypeId,'0')<>'0'
		SET @WhereClause+=' AND lg.LogTypeId =' + CONVERT(VARCHAR,@LogTypeId)

	IF ISNULL(@LogSourceId,'0')<>'0'
		SET @WhereClause+=' AND lg.LogSourceId =' + CONVERT(VARCHAR,@LogSourceId)

	IF ISNULL(@EntityName,'')<>''
		SET @WhereClause+=' AND lg.Entity like ''%' + REPLACE(@EntityName,'%','[%]') + '%'''

	IF ISNULL(@Message,'')<>''
		SET @WhereClause+=' AND lg.Message like ''%' + REPLACE(@Message,'%','[%]') + '%'''

	IF ISNULL(@Properties,'')<>''
		SET @WhereClause+=' AND lg.Properties like ''%' + REPLACE(@Properties,'%','[%]') + '%'''

	--if non CTE query take long time when have Description column use below
	SET @SQL = 'SELECT * FROM (SELECT '+@Column+' FROM '+ @Table + @WhereClause + ') as dsp
							  order by dsp.' + Convert(varchar,@SortBy)  + ' ' + Convert(varchar,@OrderBy)

	--CTE query
	/*SET @SQL = 'WITH FilteredLogs AS (SELECT '+@Column+' FROM '+ @Table + @WhereClause + ') SELECT dsp.* FROM FilteredLogs dsp
							  order by dsp.' + Convert(varchar,@SortBy)  + ' ' + Convert(varchar,@OrderBy)*/

	IF(@Length>0)
		SET @SQL += ' OFFSET ' + Convert(varchar,@Start) + ' ROWS FETCH NEXT ' + Convert(varchar,@Length) + ' ROWS ONLY'
	
	PRINT(@SQL)
	EXEC(@SQL)
	
	SET @SQL = 'SELECT COUNT(1) TotalRecord FROM ' + @Table + @WhereClause

	EXEC(@SQL)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Get_EntityName]	
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
	Distinct
	[l].[Entity] AS Entity
	FROM 
	[Logs] [l] WITH (NOLOCK)
WHERE
	(([l].[ActionId] = 10 OR [l].[ActionId] = 20) OR [l].[ActionId] = 30) AND
	NOT ([l].[Entity] IS NULL OR Len([l].[Entity]) = 0)
	Order by Entity
	SET NOCOUNT OFF;
END

